.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 320px;
  background-color: #fdf7f2;

  padding-top: 16px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
